.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    margin-left: 24px;
    margin-right: 24px;
    border-top: 1px solid #E8EDF5;
    position: relative;
    &__page-block {
        display: flex;
        align-items: center;
        gap: 20px;
        color: #64748B;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 19px; /* 146.154% */
    }
    &__select-block {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__count-page {
        width: 60px;
        height: 32px;
        color: #334155;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 17px; /* 141.667% */
        cursor: pointer;
        border-radius: 8px;
        border: 1px solid #DBE3EF;
    }
}