@use 'variables.scss' as *;
.paginator {
    display: flex;
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 6px;
        width: 30px;
        height: 32px;
        border-radius: 8px;
        border: 1px solid #DBE3EF;
        background: $secondary-color;
        color: #334155;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 17px; /* 141.667% */
        cursor: pointer;
        border-radius: 8px;
    }
    &__button:hover {
        background: $primary-color;
        color: $secondary-color;
    }
}