$accent-button-color: #2563EB;
$light-backgrount-color: #FFF;
$sidebar-background-color: #0F172A;

$active-status-color-text: #15803D; 
$active-status-color-background: #DCFCE7;

$in-progress-status-color-text: #2563EB;
$in-progress-status-color-background: #DBEAFE;

$waiting-status-color-text: #C2410C;
$waiting-status-color-background: #FFEDD5;

$closed-status-color-text: #475569;
$closed-status-color-background: #E5E7EB;

$overdue-status-color-text: #DC2626;
$overdue-status-color-background: #FEE2E2;